In [3]:
import pandas as pd
import numpy as np
from google.colab import drive

In [4]:
drive.mount('/content/drive')
path = '/content/drive/MyDrive/EstatisticaUdemy/Arquivos/BasesDeDados/census.csv'

dataset = pd.read_csv(path)
dataset.head()

Mounted at /content/drive

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
new_dataset = dataset['age']
new_dataset.head(), new_dataset.shape

(0    39
 1    50
 2    38
 3    53
 4    28
 Name: age, dtype: int64,
 (32561,))

In [14]:
age = new_dataset.values

##Media Aritmetica

In [15]:
age.mean()

38.58164675532078

##Media Harmonica

In [17]:
from scipy.stats.mstats import hmean
hmean(age)

33.91874139089839

##Media Geometrica

In [18]:
from scipy.stats.mstats import gmean
gmean(age)

36.210879158177256

##Media Quadratica

In [19]:
import math
def quadratica(dados):
  return math.sqrt(sum(n * n for n in dados) / len(dados))

In [20]:
quadratica(age)

40.9218664329987

##Mediana

In [22]:
import statistics
mediana = statistics.median(age)
mediana

37

##Moda

In [23]:
moda = statistics.mode(age)
moda

36